{% extends '_base/_page-nav.twig' %}
{% from '@bolt/_buic/_moment.twig' import buic_moment %}



{% block page_title __("TinyPNG & TinyJPG Image Optimization for Bolt") %}




{% block page_main %}
    <svg style="display: none">
        <symbol id="bolt-spinner" >
            <path  d="M75 50.5l5-1.5c-.1-2.2-.4-4.3-.9-6.3l-5.2-.1c-.2-.6-.4-1.1-.6-1.7l4-3.3c-.9-1.9-2-3.8-3.2-5.5L69.2 34c-.4-.5-.8-.9-1.2-1.3l2.4-4.6c-1.6-1.4-3.3-2.7-5.1-3.8l-3.7 3.6c-.5-.3-1.1-.5-1.6-.8l.5-5.2c-2-.7-4-1.3-6.2-1.6l-2.1 4.8c-.6-.1-1.2-.1-1.8-.1l-1.5-5c-2.2.1-4.3.4-6.3.9l-.1 5.2c-.6.2-1.1.4-1.7.6l-3.3-4c-1.9.9-3.8 2-5.5 3.2l1.9 4.9c-.5.4-.9.8-1.3 1.2L28 29.6c-1.4 1.6-2.7 3.3-3.8 5.1l3.6 3.7c-.3.5-.5 1.1-.8 1.6l-5.2-.5c-.7 2-1.3 4-1.6 6.2l4.8 2.1c-.1.6-.1 1.2-.1 1.8l-5 1.5c.1 2.2.4 4.3.9 6.3l5.2.1c.2.6.4 1.1.6 1.7l-4 3.3c.9 1.9 2 3.8 3.2 5.5l4.9-1.9c.4.5.8.9 1.2 1.3L29.5 72c1.6 1.4 3.3 2.7 5.1 3.8l3.7-3.6c.5.3 1.1.5 1.6.8l-.5 5.2c2 .7 4 1.3 6.2 1.6l2.1-4.8c.6.1 1.2.1 1.8.1l1.5 5c2.2-.1 4.3-.4 6.3-.9l.1-5.2c.6-.2 1.1-.4 1.7-.6l3.3 4c1.9-.9 3.8-2 5.5-3.2l-1.9-5c.5-.4.9-.8 1.3-1.2l4.6 2.4c1.4-1.6 2.7-3.3 3.8-5.1l-3.6-3.7c.3-.5.5-1.1.8-1.6l5.2.5c.7-2 1.3-4 1.6-6.2l-4.8-2.1c0-.5.1-1.1.1-1.7zM50 65c-8.3 0-15-6.7-15-15s6.7-15 15-15 15 6.7 15 15-6.7 15-15 15z" fill="#204460"></path>
        </symbol>
    </svg>
    <div class="row" id="tinypngApp">
        {% if noKey %}
            <div class="col-xs-12 alert alert-danger">
                <h2>You Need To Provide An API Key.</h2>
                <p>
                    If You don't have one You can get one from: <a href="https://tinypng.com/developers">TinyPNG API Key</a>
                </p>
                <p>
                    You cannot optimize images without an API key
                </p>
            </div>
        {% endif %}
        <div class="col-xs-12 col-md-7">
            <p>
                Optimize Your Image and Remove all Metadata and Exif data with the "optimize image" button.
            </p>
            <p>
                The dropdown button next to "optimize image" offers you four (4) other options
            </p>
            <ol>
                <li>
                    Preserve The image's copyright exif data
                </li>
                <li>
                    Preserve the image's creation date exif data <strong>(JPEG only)</strong>
                </li>
                <li>
                    Preserve the image's location (gps) exif data <strong>(JPEG only)</strong>
                </li>
                <li>
                    Preserve all of the above
                </li>
            </ol>
        </div>
        <tinypng-app compression-count="{{ compressionCount }}"
                     dropzone-url="{{ path('tinypng-upload-images', { 'directory': directory }) }}"
                     upload-max-width="{{ maxWidth }}"
                     upload-max-height="{{ maxHeight }}"
                     upload-method="{{ uploadMethod }}"
                     :files="{{ tinyPNG_files }}"
                     tinypng-path="{{ path("tinypng-optimize") }}"
                     tinypng-batch-optimize="{{ path('tinypng-batch-optimize', { 'directory' : directory } ) }}"
                     tinypng-delete-path="{{ path("tinypng-delete-image") }}"
                     tinypng-rename-path="{{ path('tinypng-rename', { 'directory' : directory }) }}"
                     all-images-path="{{ path("tinypng-all-images") }}"
                     current-directory="{{ directory }}"
                     create-directory-path="{{ path('tinypng-create-directory', { 'directory' : directory }) }}"
                     delete-directory-path="{{ path('tinypng-delete-directory', { 'directory' : directory }) }}"
                     :tinypng-directories="{{ tnypng_directories }}"
                     directory="{{ directory }}">
        </tinypng-app>

        {#</div><!-- /.col-xs-12 file list table container -->#}
        {#<div class="col-xs-12 ajax-error">#}
            {#{{ message }}#}
        {#</div>#}

        {#{% include '@tinypng/_tinypng-working-modal.twig' %}#}


    </div>


{% endblock page_main %}