{% extends '_base/_page-nav.twig' %}
{% from '@bolt/_buic/_moment.twig' import buic_moment %}



{% block page_title __("TinyPNG & TinyJPG Image Optimization for Bolt") %}




{% block page_main %}
    <svg style="display: none">
        <symbol id="bolt-spinner" >
            <path  d="M75 50.5l5-1.5c-.1-2.2-.4-4.3-.9-6.3l-5.2-.1c-.2-.6-.4-1.1-.6-1.7l4-3.3c-.9-1.9-2-3.8-3.2-5.5L69.2 34c-.4-.5-.8-.9-1.2-1.3l2.4-4.6c-1.6-1.4-3.3-2.7-5.1-3.8l-3.7 3.6c-.5-.3-1.1-.5-1.6-.8l.5-5.2c-2-.7-4-1.3-6.2-1.6l-2.1 4.8c-.6-.1-1.2-.1-1.8-.1l-1.5-5c-2.2.1-4.3.4-6.3.9l-.1 5.2c-.6.2-1.1.4-1.7.6l-3.3-4c-1.9.9-3.8 2-5.5 3.2l1.9 4.9c-.5.4-.9.8-1.3 1.2L28 29.6c-1.4 1.6-2.7 3.3-3.8 5.1l3.6 3.7c-.3.5-.5 1.1-.8 1.6l-5.2-.5c-.7 2-1.3 4-1.6 6.2l4.8 2.1c-.1.6-.1 1.2-.1 1.8l-5 1.5c.1 2.2.4 4.3.9 6.3l5.2.1c.2.6.4 1.1.6 1.7l-4 3.3c.9 1.9 2 3.8 3.2 5.5l4.9-1.9c.4.5.8.9 1.2 1.3L29.5 72c1.6 1.4 3.3 2.7 5.1 3.8l3.7-3.6c.5.3 1.1.5 1.6.8l-.5 5.2c2 .7 4 1.3 6.2 1.6l2.1-4.8c.6.1 1.2.1 1.8.1l1.5 5c2.2-.1 4.3-.4 6.3-.9l.1-5.2c.6-.2 1.1-.4 1.7-.6l3.3 4c1.9-.9 3.8-2 5.5-3.2l-1.9-5c.5-.4.9-.8 1.3-1.2l4.6 2.4c1.4-1.6 2.7-3.3 3.8-5.1l-3.6-3.7c.3-.5.5-1.1.8-1.6l5.2.5c.7-2 1.3-4 1.6-6.2l-4.8-2.1c0-.5.1-1.1.1-1.7zM50 65c-8.3 0-15-6.7-15-15s6.7-15 15-15 15 6.7 15 15-6.7 15-15 15z" fill="#204460"></path>
        </symbol>
    </svg>
    <div class="row">
        {% if noKey %}
            <div class="col-xs-12 alert alert-danger">
                <h2>You Need To Provide An API Key.</h2>
                <p>
                    If You don't have one You can get one from: <a href="https://tinypng.com/developers">TinyPNG API Key</a>
                </p>
                <p>
                    You cannot optimize images without an API key
                </p>
            </div>
        {% endif %}
        <div class="col-xs-12 col-md-7">
            <p>
                Optimize Your Image and Remove all Metadata and Exif data with the "optimize image" button.
            </p>
            <p>
                The dropdown button next to "optimize image" offers you four (4) other options
            </p>
            <ol>
                <li>
                    Preserve The image's copyright exif data
                </li>
                <li>
                    Preserve the image's creation date exif data <strong>(JPEG only)</strong>
                </li>
                <li>
                    Preserve the image's location (gps) exif data <strong>(JPEG only)</strong>
                </li>
                <li>
                    Preserve all of the above
                </li>
            </ol>
        </div>
        <div class="col-xs-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Compressions Made</h3>
                </div>
                <div class="panel-body">
                    <p>
                        You Have Made <strong><span id="compressionCount">{{ compressionCount }}</span></strong> Compressions This Month
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <hr>
            <table class="dashboardlisting" data-bolt-path="{{ path('dashboard') }}">
                <thead>
                <tr>
                    <th>Upload, Resize &amp; Optimize Images</th>
                    <th>Upload Settings</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td id="tnypng-upload-form-container">

                        {% include "@tinypng/forms/_tnypng_upload.html.twig" %}

                    </td>
                    <td>
                        <p><b>Upload Method:</b> {{ uploadMethod }}</p>
                        {% if maxWidth %}<p><b>Width:</b> {{ maxWidth }}px</p>{% endif %}
                        {% if maxHeight %}<p><b>Height:</b> {{ maxHeight }}px</p>{% endif %}
                        {#<p><b>Metadata:</b> {{ saveData }}</p>#}
                    </td>
                </tr>
                </tbody>

            </table>

        </div><!-- /.col-xs-12 upload conatainer -->
        <div class="col-xs-12">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"
                    class="active">
                    <a href="#tinypng-file-list" aria-controls="tinypng-file-list" role="tab" data-toggle="tab">Files</a>
                </li>
                <li role="presentation">
                    <a href="#tinypng-directory-list" aria-controls="tinypng-directory-list" role="tab" data-toggle="tab">Directories</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tinypng-file-list" role="tabpanel" class="tab-pane active">
                    {# after an ajax upload use this template to place the file in the list #}
                    <script id="tinypng-upload-insert" type="x-template">
                        <tr class="tinyPNG-buttons">
                            <td>
                                <i class="fa fa-fw fa-file-image-o"></i>
                                <a class="magnific">
                                    <strong class="tinypng-uploadeName"></strong>
                                </a>
                                <br>
                            </td>
                            <td class="listthumb">
                                <img class="tinypng-listthumb" width="54" height="40" alt="Thumbnail">
                            </td>
                            <td class="hidden-xs hidden-sm">
                                <strong class="imgFileSize"></strong>
                                <div class="image-dimensions"></div>
                            </td>

                            <td>
                            </td>
                        </tr>
                    </script>

                    <table  class="dashboardlisting" data-bolt-path="{{ path('dashboard') }}">
                        <thead>
                        <tr>
                            <th>Files To Optimize</th>
                            <th>&nbsp;</th>
                            <th>Size</th>
                            <th>Optimize</th>
                        </tr>
                        </thead>
                        <tbody id="tinypng-uploaded-files">

                        {% if tinyPNG_files %}

                            {% import "@tinypng/macros/_tnypng-list-files.html.twig" as list %}
                            {{ list.tnypngFileList(tinyPNG_files, directory) }}

                        {% else %}
                            <tr>
                                <td>NO PNG/JPG Images In This Directory</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane" id="tinypng-directory-list"  role="tabpanel">
                    <table class="dashboardlisting">
                        <thead>
                        <tr>
                            <th>Directories</th>
                            <th>Sub Directories</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <a href="{{ path("tinypng-all-images") }}">
                                    files
                                </a>
                            </td>
                            <td></td>
                        </tr>
                        {% for key, value in tnypng_directories %}
                            <tr>
                                <td>
                                    <a href="{{ path("tinypng-all-images", { 'directory': value.directory.path }) }}">
                                        {{ value.directory.path  }}
                                    </a>
                                </td>
                                <td>
                                {% if value.subdirectory %}
                                    {% for key, value in value.subdirectory %}
                                       <p>
                                           <a href="{{ path("tinypng-all-images", { 'directory': value }) }}">
                                               {{ value }}
                                           </a>
                                       </p>
                                    {% endfor %}
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% include "@tinypng/forms/_tnypng_create_newDir.html.twig" with { 'directory' : directory } %}
                </div>
            </div>



        </div><!-- /.col-xs-12 file list table container -->
        {#<div class="col-xs-12 ajax-error">#}
            {#{{ message }}#}
        {#</div>#}

        {% include '@tinypng/_tinypng-working-modal.twig' %}


    </div>


{% endblock page_main %}